---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import About from '../components/About.astro';
import Footer from '../components/Footer.astro';
import Form from '../components/Form';
---

<Layout title='about'>
  <Header path='/about' />
  <div class='h-0.5 md:mt-12 mb-6 bg-myYellow w-2/3'></div>
  <main>
    <section class='flex flex-wrap md:mt-8 xl:w-4/5'>
      <About />
      <img src='/pics/image00012.jpeg' class='md:w-1/5' />
    </section>
    <section class='flex flex-col-reverse md:flex-row md:gap-16'>
      <Form client:load />
      <article
        class='flex flex-col items-center md:justify-center mt-8 md:mt-0 gap-4'
      >
        <p class='md:self-start text-2xl md:text-1xl'>Like my art?</p>
        <p class='md:self-start'>Get in contact!</p>
        <p class='text-2xl md:text-4xl'>Leave me a message 📮</p>
      </article>
    </section>
  </main>

  <Footer />
</Layout>
