---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import About from '../components/About.astro';
import Footer from '../components/Footer.astro';
import Form from '../components/Form';
---

<Layout title='about'>
  <Header path='/about' />
  <div class='h-0.5 md:mt-12 mb-6 bg-myYellow w-2/3'></div>
  <main class='flex flex-wrap xl:w-4/5 md:mt-8'>
    <About />
    <img src='/pics/image00012.jpeg' class='md:w-1/5' />
  </main>
  <Form client:load />
  <Footer />
</Layout>
