---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
// @ts-ignore
import Gallery from '../components/Gallery.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="gallery">
  <Header path="/gallery" />
  <div class="h-0.5 w-2/3 bg-myYellow md:mt-12"></div>
  <main class="md:mt-8">
    <Gallery gallerypage={true} />
  </main>
  <Footer />
</Layout>
