---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Gallery from '../components/Gallery.astro';
import Footer from '../components/Footer.astro';
---

<Layout title='alice_d.ied'>
  <Header />
  <main class=''>
    <div
      class='bg-myYellow text-black p-4 my-4 md:w-4/5 justify-center md:justify-start'
    >
      <p class='font-sono'>
        <strong>alice_d.ied</strong> is the pseudonym of Felix Thelen, a young, ambitious
        and talented artist living in Mannheim, Germany. His entire production is
        a confluence of emotions, experiences and his imaginative worlds of thought
        expressed in various art forms like paintings, plastics, NFTs, collagens,
        visuals. An intoxicated wonderland that displays a mirror of human beings
        their thoughts and how to be aware of. In his artworks he always envolves
        new dimensions of materiality and structures culminating in a sphere of fantasy
        and weirdness - inviting the recipient to dive deep into this dark but colorful
        universe of reflection, captured in multi-layered creations.
      </p>
    </div>
    <Gallery />
  </main>
  <Footer />
</Layout>
