---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Gallery from '../components/Gallery.astro';
import Footer from '../components/Footer.astro';
import { TEXT } from '../consts';
---

<Layout title="alice_d.ied">
  <Header />
  <main>
    <article
      class="justify-center bg-myYellow p-4 font-sono text-black md:w-4/5 md:justify-start"
      set:html={TEXT.homeText}
    />
    <Gallery />
  </main>
  <Footer />
</Layout>
