---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Gallery from '../components/Gallery.astro';
import Footer from '../components/Footer.astro';
import { TEXT } from '../consts';
---

<Layout title='alice_d.ied'>
  <Header />
  <main>
    <article
      class='bg-myYellow text-black p-4 md:w-4/5 justify-center md:justify-start font-sono'
      set:html={TEXT.homeText}
    />
    <Gallery />
  </main>
  <Footer />
</Layout>
