<article
  class='bg-myYellow text-black p-4 md:w-4/5 justify-center md:justify-start'
>
  <p class='font-sono'>
    <strong>myself as an artist</strong> - creating an universe art is more than
    putting something beautiful clean with a well known name on in your flat. creating
    art was my key to find a way of understanding myself, my mind and the people
    around me on this blue taw. recurrent emerging statements of my creations include
    awareness to yourself, your inner child and your mind. Expanding the awareness
    to the environment and the whole world in order to open up new vistas. I don't
    want to put you my glasses on, i want to transfer the feeling of mutual understanding.
    I'm creating all the time driven by infinite lines of thoughts. Everything what
    comes in my hands get turned into something completely different. That's natural
    for me, to see other possibilities in things and thoughts. I prefer the combination
    of bizarre, whimsical and weird scenarios with friendly, happy colors or vice
    versa. This is how I want to enlighten the complexity of things and have a special
    view on the glitch in life, cause nothing is free from defects. art is a way
    for me to visualize these interactions and make them accessible to the world
    - even I know my art seems sometimes very destructed and diffuse, keep at the
    back of one's mind, a picture says more than 1000 words i could use.
  </p>
</article>
