---
export interface Props {
  type: 'submit' | 'reset' | 'button';
  disabled?: true;
  style: string;
  text: string;
}

const { type, disabled, style, text } = Astro.props;
---

<button class={style} type={type} disabled={disabled}>{text}</button>
