---
import { MENU, SOCIAL } from '../consts';
import { Icon } from 'astro-icon';
---

<footer class='mt-6 md:w-2/3 mb-4'>
  <div class='h-2 bg-myYellow mx-auto md:mx-0'></div>
  <div class='flex justify-between flex-col md:flex-row'>
    <ul
      class='flex m-0 mt-4 justify-around md:justify-start md:gap-8 md:pl-0 text-2xl px-3'
    >
      {
        MENU.map(({ name, href }) => (
          <li class='self-start py-1 text-myYellow '>
            <a href={href}>{name}</a>
          </li>
        ))
      }
    </ul>
    <div class='flex mt-4 self-center gap-8'>
      {
        SOCIAL.map(({ icon, href }) => (
          <a class='w-12 md:w-8' href={href}>
            <Icon name={icon} />
          </a>
        ))
      }
    </div>
  </div>
</footer>
