---
import { PICTURES } from '../consts';
import { Image } from '@astrojs/image/components';
import { Icon } from 'astro-icon';

export interface Props {
  gallerypage?: boolean;
}

const { gallerypage } = Astro.props;

const gallery = gallerypage
  ? PICTURES.slice().reverse()
  : PICTURES.slice()
      .sort(() => Math.random() - Math.random())
      .slice(-6);
---

<section
  class="mt-6 flex flex-wrap items-center justify-around gap-8 md:w-4/5 md:gap-16"
  id="gallery"
>
  {
    gallery.map(({ src, width, height, alt }) => (
      <div
        class={
          gallerypage
            ? 'relative sm:w-5/12 lg:w-2/12'
            : 'relative sm:w-5/12 lg:w-3/12'
        }
      >
        <a
          href={src}
          data-pswp-width={width ? width : 600}
          data-pswp-height={height ? height : 600}
        >
          <Icon
            name="ep:loading"
            class="absolute bottom-0 left-0 right-0 top-0 -z-10 m-auto w-32 animate-spin-slow fill-myYellow opacity-40 md:w-16"
          />
          <Image
            class=" delay-100 ease-in-out hover:scale-110 hover:transition"
            src={src}
            alt={alt ? alt : 'an arty picture'}
            width={width ? width : 600}
            height={height ? height : 600}
            format="webp"
          />
        </a>
      </div>
    ))
  }
</section>

<script>
  // @ts-ignore
  import PhotoSwipeLightbox from 'photoswipe/lightbox';
  import 'photoswipe/style.css';
  const lightbox = new PhotoSwipeLightbox({
    gallery: '#gallery',
    children: 'a',
    pswpModule: () => import('photoswipe'),
  });
  lightbox.init();
</script>
